<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="/common/normalBase::frag(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
              <div  class="card me-3 ">
              
                 <div class="card-body ">
                     
                       <h1 class="text-center">ADD CONTACT</h1>
                       
                       <div  class="container">
                        
                        <div  th:if="${session.message}" th:classappend="${session.message.type}"  class="alert alert-success text-center" role="alert">
						 <p th:text="${session.message.msg}"></p>
						  <th:block  th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
                        
                          <div class="row">
                                  <div class="col-md-8  offset-md-2" >
                                            <form  th:action="@{/user/process-addcontact}"  th:object="${contact}" enctype="multipart/form-data" method="post">
                                                   
                                                   <div class="input-group mt-2">
														      <div class="input-group-text"><i class="fa-solid fa-user"></i></div>
														      <input type="text" class="form-control" name="name" placeholder="Enter Contact Name"
														      th:value="${contact.name}"
														      th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ' '}">
														      
														       <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
															   </div>
												    </div>
												   
                                                     <div class="input-group mt-3">
														      <div class="input-group-text"> <i class="fa-sharp fa-solid fa-user"></i></div>
														      <input type="text" class="form-control" name="secondname" placeholder="Enter Nick Name"
														      th:value="${contact.secondname}"
														       th:classappend="${#fields.hasErrors('secondname') ? 'is-invalid' : ' '}">
														       
														        <div class="invalid-feedback" th:each="e : ${#fields.errors('secondname')}" th:text="${e}">
															   </div>
												    </div>
												    
												    <div class="input-group mt-3">
														      <div class="input-group-text"><i class="fa-solid fa-envelope"></i></div>
														      <input type="text" class="form-control" name="email" placeholder="Enter email"
														      th:value="${contact.email}"
														      th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ' '}">
														      
														      <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">
															   </div>
												    </div>
												    
												     <div class="input-group mt-3">
														      <div class="input-group-text"><i class="fa-solid fa-phone"></i></div>
														      <input type="text" class="form-control" name="phone" placeholder="Enter phone number"
														      th:value="${contact.phone}"
														       th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ' '}">
														       
														       <div class="invalid-feedback" th:each="e : ${#fields.errors('phone')}" th:text="${e}">
															   </div>
												    </div>
												    
												    <div class="input-group mt-3">
														      <div class="input-group-text"><i class="fa-solid fa-building"></i></div>
														      <input type="text" class="form-control" name="work" placeholder="Enter proffession"
														      th:value="${contact.work}"
											                    th:classappend="${#fields.hasErrors('work') ? 'is-invalid' : ' '}">
											                    
											                     <div class="invalid-feedback" th:each="e : ${#fields.errors('work')}" th:text="${e}">
															   </div>
												    </div>
                                            
                                                    <div class="input-group mt-3">
														 
														    	<span class="input-group-text" ><i class="fa-solid fa-cloud-arrow-up"></i></span>
			
															    <input type="file" class="custom-file-input" name="profile-image" placeholder="Choose profile picture">
															     
	                                                             
													</div>
													
													<div class="form-group mt-3">
													   <textarea rows="10" class="form-control" placeholder="Enter description here"
													   th:value="${contact.description}" name="description"></textarea>
													</div>
													
													<div class="container text-center mt-3">
													     <button type="submit" class="btn btn-outline-primary" >Submit</button>
													
													</div>
		 
                                            
                                            </form>
                                 </div>
                          </div>
                           
                       </div>
                 
                 </div>
              
              
              </div>
</section>
</body>
</html>