<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="/common/normalBase::frag(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
                <div class="card me-3">
                   <div class="card-body">
                             <h1 class="text-center">YOUR CONTACTS</h1>
                       
                              <div  class="container">
                                           
                                           <table class="table table-hover">
													  <thead>
															    <tr>
															      <th scope="col">#ID</th>
															      <th scope="col">Name</th>
															      <th scope="col">Phone</th>
															      <th scope="col">Email</th>
															       <th scope="col">Action</th>
															    </tr>
													  </thead>
													  <tbody>
																    <tr th:each="c:${contacts}">
																      <th scope="row" th:text="${'SCMCONTACT'+c.cid}">1</th>
																      <td th:text="${c.name}"></td>
																      <td th:text="${c.phone}"></td>
																      <td th:text="${c.email}"></td>
																      <td>
																               <span style="font-size:20px "><i class="fa-solid fa-pen fa-fw  text-primary"></i></span> 
																               <span style="font-size:20px "><i class="fa-solid fa-trash fa-fw  text-danger"></i></span>
																               <span style="font-size:20px "><i class="fa-solid fa-eye fa-fw "></i></span>
																      </td>
																    </tr>
													    
													  </tbody>
													</table>
													
													<nav aria-label="Page navigation example">
																  <ul class="pagination justify-content-center">
																		    <li th:if="${currentPage!=0}" class="page-item "> <a class="page-link" th:href="@{'/user/show_contacts/'+${currentPage-1}}" tabindex="-1">Previous</a> </li>
																		    
																			    <li  th:classappend="${currentPage==i-1?'active':' '}" th:each="i:${#numbers.sequence(1,totalPage)}" class="page-item">
																			    <a  class="page-link"  th:href="@{'/user/show_contacts/'+${i-1}}">
																			           <span th:text=${i}></span>
																			       </a></li>
																			    
																			    <li th:if="${currentPage+1!=totalPage}" class="page-item"><a class="page-link" th:href="@{'/user/show_contacts/'+${currentPage+1}}">Next</a> </li>
																  </ul>
													</nav>
                      
                                 </div>
                       
                 
                   </div>
                </div>
</section>
</body>
</html>