<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="/common/normalBase::frag(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>

                 <div  class="card me-3 ">
              
                 <div class="card-body ">
                     
                       <h1 class="text-center">Your Contacts</h1>
                       
                         <div  th:if="${session.message}"   th:classappend="${session.message.type}"   class="alert  text-center" role="alert">
														          <p th:text="${session.message.msg}"> </p>
														          
														          <th:block  th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
                       
                       <!-- Search box -->
                       
                       <div class="search-container my-3">
                               <input onkeyup="search()"  id="search-input"  type="text" class="form-control" placeholder="Enter name to search">
                               <div class="search-result">
                                   <!-- result goes here  -->
                               </div>
                       </div>
                       
                       <!-- Table fro display the contacts  -->
                     <!-- resonsive table -->
                     <div class="table-responsive"> 
                       <table class="table table-hover">
										  <thead>
												    <tr>
												      <th scope="col"  class="cid">#ID</th>
												      <th scope="col">Name</th>
												      <th scope="col">Email</th>
												      <th scope="col">Phone</th>
												      <th scope="col">Action</th>
												    </tr>
										  </thead>
										  <tbody>
												    <tr th:each="c:${contacts}">
												      <th scope="row" th:text="${'SCM'+c.cid}"></th>
												      <td >
												               <img style=""	
																class="contactPic"  alt="profile picture" th:src="@{'/images/'+${c.image}}">
																
												               <span th:text="${c.name}"></span>
												      </td>
												      <td>
												         <a th:href="@{'/user/contact_details/'+${c.cid}}">
												                <span  th:text="${c.email}"></span>
												         </a>
												      </td>
												      <td th:text="${c.phone}"></td>
												      <td>
												         <form th:action="@{'/user/update-contact/'+${c.cid} }" method="post">
												               <div class="container">
												                     		<button type="submit"   class="btn btn-sm "><span><i class="fa-solid fa-pen"></i></span></button>   
												               </div>
												         </form>			
												         <a  th:href="@{'/user/contact_details/' +${c.cid}}"><span><i class="fa-solid fa-eye text-primary"></i></span></a>
												         <a   href="#" th:onclick="| del('${c.cid}') |"> <span><i class="fa-solid fa-trash text-danger"></i></span></a>
												      </td>
												    </tr>
										  
										  </tbody>
						</table>
				</div>		
						<!-- complete pagination code  -->
						<nav aria-label="Page navigation example">
								  <ul class="pagination justify-content-center">
										    <li th:if="${currentPage!=0}" class="page-item "> <a class="page-link" th:href="@{'/user/show_contacts/'+${currentPage-1}}" tabindex="-1">Previous</a> </li>
										    
											    <li  th:classappend="${currentPage==i-1?'active':' '}" th:each="i:${#numbers.sequence(1,totalPage)}" class="page-item">
											    <a  class="page-link"  th:href="@{'/user/show_contacts/'+${i-1}}">
											           <span  th:text=${i}></span>
											       </a></li>
											    
											    <li th:if="${currentPage+1!=totalPage}" class="page-item"><a class="page-link" th:href="@{'/user/show_contacts/'+${currentPage+1}}">Next</a> </li>
									  </ul>
						</nav>
                  </div> 
                  
                  </div>    
                  
                  <!-- adding active link jquery  -->
                   <script type="text/javascript">
                       $(document).ready(()=>{
                        $('.item').removeClass("active");
                       $('#view-link').addClass("active");
                       })
                 </script>

</section>
</body>
</html>