<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="/common/normalBase::frag(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<section>
                <h1>Wellcome <span th:text="${user.name}"></span></h1>    
                
                   <!-- adding active link jquery  -->
                <script type="text/javascript">
                       $(document).ready(()=>{
                        $('.item').removeClass("active");
                       $('#home-link').addClass("active");
                       })
                 </script>
                
</section>
</body>
</html>